<main>
  <header><img src="assets/logo.svg" alt="fairhouse">Fairhouse</header>
  <section>
  <app-housing-list [locationList]="housingLocationList" (selectedLocationEvent)="updateSelectedLocation($event)"></app-housing-list>
  </section>
  <article>
    <ng-container *ngIf="selectedLocation">
    <img [src]="selectedLocation?.photo" alt="house">
    <p>{{selectedLocation?.name}}</p>
    <p>{{selectedLocation?.availableUnits}}</p>
    <p>{{selectedLocation?.city}}, {{selectedLocation?.state}}</p>
    <p>{{selectedLocation?.laundry ? "has laundry":"Does not have laundry"}}</p>
    <p>{{selectedLocation?.wifi ? "has wifi":"Does not have wifi"}}</p>
    </ng-container>
  </article>

</main>
